.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.menu-button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.menu-button > * > .context-menu {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.menu-item {
    -fx-background-color: transparent;
}

.menu-item:focused > .label {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.hyperlink {
    -fx-text-fill: -fx-accent;
    -fx-underline: false;
}

.hyperlink:focused {
    -fx-border-width: 0px;
    -fx-underline: false;
}

.hyperlink:hover {
    -fx-underline: true;
}